/* Write your CSS code here */
.title {
  font-family: 'Roboto';
  font-size: 26px;
  color: #000000;
  align-self: center;
}
.avatar {
  width: 30px;
  border-radius: 100%;
  margin-right: 10px;
}
.avatarDetailContainer {
  display: flex;
  align-items: center;
}
.authorName {
  font-family: 'Roboto';
  font-size: 16px;
  color: #2f4f4f;
}
.image {
  height: 300px;
}
.content {
  font-family: 'Roboto';
  font-size: 16px;
  color: #2f4f4f;
}
.blogItemDetail {
  display: flex;
  flex-direction: column;
  width: 60vw;
}
